body {
	margin: 0;
	margin: auto;
	width: 100%;
	display: flex;
	flex-direction: column;
}

nav {
	width: 100%;
	height: 110px;
	background-color: rgb(255, 128, 128);
	position: fixed;
	z-index: 20; 
	display: flex;
	flex-direction: row;
	justify-content: space-between;

}

.link {
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 300;
	padding: 0px 30px;
	text-align: center;

}
.nav-container {

	width: 90%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 0;
	margin: auto;
}

.content{
	width: 80%;
}
header {
	height: 300px;
	position: relative;
	margin: 60px 0px;
	background-color: rgb(255, 128, 128, .2);
}

/*img.header {
width: 100%;
position: absolute;
object-fit: cover;
object-position: center top;
height: 400px;

}*/

img {
	margin: 0;
	margin: auto;
	width: 60%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
div {
	margin: auto;
	margin: 50px 0px;
}

h1 {
	margin: 0;
	margin: auto;
	font-size: 80px;
	margin: auto;
	text-align: center;
	padding: 70px 70px 20px 70px;
	font-family: 'Abril Fatface', cursive;

}


h2 {
	margin: 0;
	font-size: 30px;
	margin: auto;
	text-align: center;
	font-family: 'Raleway', sans-serif;
	letter-spacing: 1px;
	width: 70%;

}
h3{
	margin: auto;
	font-size: 25px;
	margin: 30px 0px;
	font-family: 'Abril Fatface', cursive;
	font-weight: 100;

}


ul {
	margin: 30px 0px;
}

p {
	font-family: 'Raleway', sans-serif;
	margin: auto;
	font-size: 17px;
	margin: 30px 0px;
	line-height: 29px;
	list-style: none;
	text-align: left;
}

li {
	font-family: 'Raleway', sans-serif;
	margin: auto;
	font-size: 19px;
	font-style: bold;
	margin: 30px 0px;
	line-height: 29px;
	list-style: none;
	text-align: left;
	padding-left: 30px;
}

p.intro {


}

table {
	margin: 120px 0px;
	border-style: solid;
	width: 100%;
	border-radius: 50px;
	border-spacing: 30px;
}


th {
	margin: 0;
	text-align: center;
	margin: 50px;
	height: 100px;
	font-family: 'Abril Fatface', cursive;
	background-color: rgb(255, 128, 128);
}


td{

	margin: 0;
	text-align: center;
	margin: 50px;
	height: 100px;
	font-family: 'Raleway', sans-serif;
	background-color: rgb(255, 128, 128, .3);
}

form {
	background-color: rgb(255, 128, 128, .3);
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	padding: 30px;
	margin: auto;

}
.form{
	margin: 60px 0px;
}

p.form-title {
	font-family: 'Abril Fatface', cursive;
	font-size: 20px;
}

div.form-container {
	width: 50%;
	margin: auto;
}
p.three-column-text {
width: 31%;
  float: left;
  padding: 20px 0px;
  margin: 7px;
  font-size: 20px;
font-size: 25px;
}

.three-column {
  width: 31%;
  float: left;
  padding: 20px 0px;
  margin: 7px;

  font-size: 17px;
}

div.tour {
	width: 100%;
	margin: auto;
	margin-top: 80px;
	margin-bottom: 80px;
}

input[type=button], input[type=submit], input[type=reset] {
  background-color: rgb(255, 128, 128);
  border: none;
  color: white;
  padding: 16px 32px;
  margin: 0px 10px 40px 0px;
  text-decoration: none;
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
  float: right;
}

div.content {
	margin: auto;
	width: 70%;
}


a.link {
	list-style: none;
	font-style: italic;
	margin: auto;
	margin:30px 0px;
	font-style: italic;
	font-family: 'Teko', sans-serif;
	font-size: 17px;
}


a.link:hover {
	list-style: none;
	text-decoration: none;
	color: red;
}


a.nav {
	list-style: none;
	font-style: none;
	margin: auto;
	margin:30px 0px;
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	text-decoration: none;
	color: black;
}

a.nav:hover {


	text-decoration: none;
	color: gray;
}

div.map-container {
width: 600px;
	margin: auto;
	object-position: center;

}
.map {
	width: 600px;
	height: 450px;
	margin: auto ;
	float: center;
}

div.stay-protected {
height: 100px;
	background-color: rgb(255, 128, 128);
	margin: none;

}

p.stay-protected {

	margin: auto;
	padding: none;
	width: 70%;
	text-align: center;
	margin-top: 20px;
}

